{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<input type="hidden" id="user" value="{{ player }}" />

<div class="site-wrapper">
<div class="site-wrapper-inner">

<div class="row">
<div class="col-md-6 col-md-offset-3">

<div class="panel panel-default">

<div class="panel-body" id="panel">

<form align="left" method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <input type="submit" value="Log out" id="new" class="btn btn-new"/>
</form>

<p align="right"> hello {{ player }} </p>


<h2 class="cover-heading">Active games</h2>


<form align="right" method="post" id="new_game">
{#  {% csrf_token %}#}
  <input type="submit" value="New game" id="new_game_btn" class="btn btn-new"/>
</form>

</div>

<div class="table-responsive">
<table class="table table-hover" id="games_table">
  <thead>
    <tr>
      <th>Creator</th>
      <th>Players</th>
      <th></th>
    </tr>
  </thead>

    <tbody></tbody>
    </table>
</div>

</div>
</div>
</div>
</div>
</div>

<script src="{% static 'lobby/join.js' %}"></script>

{% endblock %}

