{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.9/pixi.js"></script>
<script type="text/javascript">
var socket = new WebSocket("ws://localhost:8081/game/" + {{ game_id }} + "/" + {{ player_id }});

GLOB = {card : null, phase : null};
// GLOB.card -- current chosen card

var stageWidth = 1000;
var stageHeight = 600;
var renderer = PIXI.autoDetectRenderer(stageWidth, stageHeight, {backgroundColor : 0xbaf1ea});
var stage = new PIXI.Container();
var card_container = new PIXI.Container();

window.onload = function() {
    document.body.appendChild(renderer.view);
    stage.addChild(card_container);

    socket.onopen = function() {
        console.log("Connection done");
        checkMessage();
    };

    function addCards(cont, cards) {
        for (var i = 0; i < cards.length; ++i) {
            var card = PIXI.Sprite.fromImage("/static/imgs/" + cards[i] + ".jpg");
            card.id = cards[i];
            card.scale.x = 0.6;
            card.scale.y = 0.6;
            card.x = 155 * i;
            card.y = 0;
            card.buttonMode = true;
            card.interactive = true;
            card.mousedown = card.touchstart = onPic;
            cont.addChild(card);
        }
    }

    function findTitle(st) {
        if (st) {
            if (GLOB.phase == 'story')
                return "You are a storyteller";
            else if (GLOB.phase == 'choose')
                return "Now wait for other players to make their card choice";
        } else {
            if (GLOB.phase == 'story')
                return "Wait for a storyteller";
            else if (GLOB.phase == 'choose')
                return "Choose your card for this story";
            else if (GLOB.phase == 'choose_wait')
                return "Wait for other players to make their card choice";
        }
    }

    function addTitle(st) {
        var text = new PIXI.Text(findTitle(st));
        text.anchor.x = 0.5;
        text.anchor.y = 0.5;
        text.x = stageWidth / 2;
        text.y = 80;
        stage.addChild(text);
    }

    socket.onmessage = function(event) {
        var json = event.data;
        var msg = JSON.parse(json);
        if (msg.type == "connect") {
            var usrinf = "You are logged as " + msg.id;
            document.getElementById("player").innerHTML = usrinf;
            GLOB.player = msg.id;
            GLOB.st = msg.st;
            GLOB.phase = msg.state;
            if (GLOB.phase == "choose" && msg.done) {
                console.log("I DID IT");
                GLOB.phase = "choose_wait";
            }

            addCards(card_container, msg.cards);
            addTitle(msg.st);
            card_container.x = Math.floor((stageWidth - 155 * msg.cards.length + 10) / 2);
            card_container.y = 300;

            if (!GLOB.st && (GLOB.phase == 'choose' || GLOB.phase == 'choose_wait'))
                story_mode(msg.story_text);

            animate();
        }

        else if (msg.type == "story") {
            GLOB.phase = "choose";
            story_mode(msg.story_text, msg.cards);
        }

        else if (msg.type == "choose_wait_others") {
            console.log("GOT YOUR MESSAGE");
            GLOB.phase = "choose_wait";
            stage.children[1].text = findTitle(GLOB.st);
            update_card_set(msg.cards);
        }

        else if (msg.type == "vote") {
            GLOB.phase = "vote";
            card_container.visible = false;
            console.log(stage.children[1].text);
            if (GLOB.st)
                stage.children[1].text = "Players are voting";
            else
                stage.children[1].text = "Choose storyteller's card";

            var vote_container = new PIXI.Container();
            addCards(vote_container, msg.cards);
            vote_container.x = Math.floor((stageWidth - 155 * msg.cards.length + 10) / 2);
            vote_container.y = 300;
            stage.addChild(vote_container);
        }
    };

    function update_card_set(cards) {
        card_container.removeChildren();
        addCards(card_container, cards);
        card_container.x = Math.floor((stageWidth - 155 * cards.length + 10) / 2);
        card_container.y = 300;
    }

    function story_mode(story_text, cards) {
        stage.children[1].text = findTitle(GLOB.st);
        if (!GLOB.st) {
            document.getElementById("storyArea").innerHTML = story_text;
            document.getElementById("storyArea").style.display = "block";
        } else {
            update_card_set(cards);
        }
    }

    function onPic() {
        GLOB.card = this.id;
        var mode;
        if (GLOB.st && GLOB.phase == "story")
            mode = "storyModal";
        else
            mode = "playModal";

        var modal = document.getElementById(mode);
        modal.style.display = "block";

        document.getElementById(mode + "-pic").src = "/static/imgs/" + this.id + ".jpg";

        if ((GLOB.phase == "choose" || GLOB.phase == "vote") && !GLOB.st)
            document.getElementById("caption-button").style.display = "block";
        else
            document.getElementById("caption-button").style.display = "none";
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    };

    function checkMessage() {
        var frst_msg = {
            type: "connection",
        };
        socket.send(JSON.stringify(frst_msg));
    }

    function animate() {
        requestAnimationFrame(animate);
        renderer.render(stage);
    }
};

function sendStory() {
    var storyText = document.getElementById("inputStory").value;
    var move = {
        type : "move",
        player: GLOB.player,
        card: GLOB.card,
        story: storyText,
    }
    socket.send(JSON.stringify(move));
    setTimeout(function(){
        document.getElementById("storyModal").style.display = "none";
    }, 300);
    GLOB.card = null;
}

function sendCard() {
    var move = {
        type: "move",
        player: GLOB.player,
        card: GLOB.card
    };
    socket.send(JSON.stringify(move));
    setTimeout(function(){
        document.getElementById("playModal").style.display = "none";
    }, 300);
    GLOB.card = null;
}

</script>

<link rel="stylesheet" href="{% static 'lobby/game_style.css' %}">

</head>

<body>
<p id="player"> </p>

<textarea readonly maxlength="250" id="storyArea"> </textarea>

<div id="storyModal" class="modal">
  <div class="modal-content">
    <span class="close"
    onclick="document.getElementById('storyModal').style.display='none'">&times;</span>
    <img class="modal-pic" id="storyModal-pic">
    <input type="text" id="inputStory">
    <button onclick="sendStory()">Send</button>
  </div>
</div>

<div id="playModal" class="modal">
    <!--span class="close"
    onclick="document.getElementById('playModal').style.display='none'">&times;</span-->
    <img class="modal-pic" id="playModal-pic">
    <button id="caption-button" onclick="sendCard()">Send</button>
  </div>
</div>

</body>
</html>