{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<input type="hidden" id="invalid" value="{{ invalid_reg }}" />

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

                <h1 class="cover-heading">Dixit game</h1>

                <div class="row">
    		    <div class="col-md-4 col-md-offset-4">


                <div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="{% url 'login' %}" method="post" role="form" style="display: block;">
                                    {% csrf_token %}
                                    {% if invalid_log %}
                                        <h5 class="error">The user is not registered or password is incorrect.</h5>
                                    {% endif %}
                                    <div class="form-group">{{ login_form.username }}</div>
                                    <div class="form-group">{{ login_form.password }}</div>

                                    {% if login_form.errors %}
                                        {{ login_forn.errors }}
                                    {% endif %}

									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" action="{% url 'register' %}" method="post" role="form" style="display: none;">
									{% csrf_token %}
                                    {%  for e in reg_form.username.errors %}
                                        <p class="error"> {{ e }} </p>
                                    {% endfor %}
                                    <div class="form-group">{{ reg_form.username }}</div>

                                    {%  for e in reg_form.email.errors %}
                                        <p class="error"> {{ e }} </p>
                                    {% endfor %}
                                    <div class="form-group">{{ reg_form.email }}</div>

                                    {%  for e in reg_form.password.errors %}
                                        <p class="error"> {{ e }} </p>
                                    {% endfor %}
                                    <div class="form-group">{{ reg_form.password }}</div>

                                    {%  for e in reg_form.confirm_password.errors %}
                                        <p class="error"> {{ e }} </p>
                                    {% endfor %}
                                    <div class="form-group">{{ reg_form.confirm_password }}</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

                </div>

		        </div>
                </div>

            </div>
        </div>
    </div>

<script src="{% static 'lobby/form.js' %}"></script>

{% endblock %}

