{% extends "base.html" %}

{% block content %}

<div class="form">

    <ul class="tab-group">
        <li class="tab active"><a href="signup">Sign Up</a></li>
        <li class="tab"><a href="login">Log In</a></li>
    </ul>

    <div class="tab-content">
        <div id="signup">
            <h1>Sign Up for Free</h1>

            <form action="/games/" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field-wrap">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="button button-block">Get Started</button>
            </form>

        </div>

        <div id="login">
            <h1>Welcome Back!</h1>

            <form action="/games/" method="post">
                {% csrf_token %}
                <div class="field-wrap">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>

                <div class="field-wrap">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>


                <p class="forgot"><a href="#">Forgot Password?</a></p>

                <button class="button button-block"/>
                Log In</button>

            </form>

        </div>

    </div><!-- tab-content -->

</div> <!-- /form -->

{% endblock %}