#storyArea {
    z-index: 1;
    display: none;
    position: absolute;
    left: 370px;
    top: 170px;

    padding: 1em;
    width: 15em;
    height: 5em;
    max-width: 15em;
    max-height: 5em;
    font-family: "Montserrat", "sans-serif";
    font-size: 1em;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #FFFFB3;
}

input {
  width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}

.modal-pic {
    margin: auto;
    display: block;
    width: 320px;
}

#caption-button {
  display: none;
  width: 300px;
  height: 50px;
  margin: auto;
  display: block;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#caption-button:hover {background-color: #3e8e41}

#caption-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}